body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App .survey-main-btn {
  color: rgb(94, 231, 107);
  background-color: black;
  width: 150px;
  margin: 20px;
  border: none;
  padding: 10px;
}

.App .question-container {
  margin: 20px;
  width: 400px;
}

.App .question-container .input-grp {
  margin-bottom: 5px;
}

.App .question-container .options-text {
  font-size: 15px;
  text-align: left;
  font-size: bold;
  margin-left: 5px;
  margin-bottom: 5px;
}